<h1 align="center">Celtic Bikes Online</h1>
<!--<p>Find me in app/views/site/about.html.erb</p>-->

<!--<p align="center">Our History</p1>-->

<h>Our Beginnings</h><p>
Celtic Bikes Online began its story, over 3 weeks ago, in 2017. Ciaran, 
upon completion of his Hdip in Computer Science, commenced trading in partnership with Aidrus.
Shortly after this, they developed an e-commerce website and began online trading, and together
with their dedicated staff built the business into Ireland's most well known online Cycle Store.</p>

<h>Cltic Bikes Online Today</h><p>
Today, The Celtic Bikes Online resides at The Celtic Bikes Building where it delivers an unrivaled 
cycle shopping experience. Our brand new store carries all the major brands. We are an official dealer of Raleigh, Koga and Trek.</p>


<h>Aidrus</h>
<p><img src="/assets/Site/aidrus.jpg" style="width:280px;height:228px;"></p>


<h>Ciaran, the founder of Celtic Bikes Online</h>
<p><img src="/assets/Site/background.jpg" style="width:304px;height:228px;"></p>