<h1 align="center">Our Location & Contact Details</h1>
<p><img src="/assets/Site/bikeshop.jpg" style="width:280px;height:228px;"></p>
<!--<p>Find me in app/views/site/contact.html.erb</p>-->
<p1>Our address is:</p1>
Celtic Bikes,
Unit 6,
Kimmage IDA,
Kimmage,
Dublin.</p>

<p1>Our Email is: celticbikes@gmail.com</p1>
<p><p1>Our Contact Numbers: 086 1777777, 086 1666666, 021 123455</p1></p>
<p1></p1>
<h1 align="center">Our Opening Hours</h1>
<p><img src="/assets/Site/open247.jpg" style="width:280px;height:228px;"></p>

<p1> Our store is open Monday to Sunday 09:00 till 22:00</p1>
<p><p1>Our online store is open 24:7 </p1></p>